apiVersion: 1

datasources:
  # Prometheus - Metrics
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 15s
      queryTimeout: 60s
      httpMethod: POST
    version: 1

  # Jaeger - Distributed Tracing
  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://jaeger:16686
    editable: true
    jsonData:
      # Enable trace to logs correlation
      tracesToLogs:
        datasourceUid: 'loki'
        tags: ['correlationId', 'traceId']
        mappedTags: [{ key: 'service.name', value: 'service' }]
        mapTagNamesEnabled: true
        spanStartTimeShift: '1h'
        spanEndTimeShift: '1h'
      # Enable trace to metrics correlation
      tracesToMetrics:
        datasourceUid: 'prometheus'
        tags: [{ key: 'service.name', value: 'service' }]
        queries:
          - name: 'Request Rate'
            query: 'rate(traces_service_graph_request_total{$$__tags}[5m])'
      nodeGraph:
        enabled: true
      spanBar:
        type: 'Tag'
        tag: 'http.status_code'
    version: 1

  # Tempo - Alternative Tracing Backend (if needed later)
  # - name: Tempo
  #   type: tempo
  #   access: proxy
  #   url: http://tempo:3200
  #   editable: true
  #   jsonData:
  #     tracesToLogs:
  #       datasourceUid: 'loki'
  #       tags: ['correlationId', 'traceId']
  #     nodeGraph:
  #       enabled: true
  #   version: 1

  # Loki - Logs (if added later)
  # - name: Loki
  #   type: loki
  #   uid: loki
  #   access: proxy
  #   url: http://loki:3100
  #   editable: true
  #   jsonData:
  #     maxLines: 1000
  #     derivedFields:
  #       - datasourceUid: jaeger
  #         matcherRegex: "traceId=(\\w+)"
  #         name: TraceID
  #         url: '$${__value.raw}'
  #   version: 1
