@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-beema-blue: #1E40AF;
  --color-beema-dark: #1E293B;
  --color-beema-gray: #F3F4F6;
  --color-beema-green: #10B981;
  --color-beema-red: #EF4444;
  --color-beema-amber: #F59E0B;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
